<div class="row">
  <div class="row text-center">
    <mat-card>
      <mat-card-title>學生資料</mat-card-title>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>班級</mat-label>
          <mat-select>
            <mat-option value="one">資管二甲</mat-option>
            <mat-option value="two">資管二乙</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>學號</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>姓名</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <div class="row text-center">
    <mat-card>
      <mat-card-title>學生成績</mat-card-title>
      <div class="col">

      </div>
    </mat-card>
  </div>
</div>
